body, html {
    height: 100%;
    margin: 0;
    padding: 0;

}
#mainbar {
    height: 70px;
    background-color: #444444;
    border-bottom: 5px solid #8e7144;
    margin: 0;
    padding: 0;
}
#MainImage {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}
#MainTitle {
    color: white;
    font-size: 28pt;
}
#menubar {
    font-size: 15pt;
    float: right;
    margin-right: 10px;
}
#menulist {
    list-style: none;
    display: inline-block;
}
#menulist li {
    display: inline-block;
    margin-left: 10px;
}
#menulist li a {
    color: silver;
    text-decoration: none;

}
#menulist li a:hover {
    color: white
}
#content {
    background-image: url(../img/register.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
}
/* Registeration Page */
#registration table {
    background-color: #444444;
    opacity: 0.8;
    color: #8e7144;
    margin-top: 10%;
    border: 10px solid #8e7144;
    border-radius: 30px;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    
}
#registration  th {
    border-collapse: collapse;
}

#registration td {
    width: 50%;
    padding: 0;
    
}

#registration form {
    border: 5px dashed #8e7144;
    border-radius: 20px;
    margin: 0;
    display: block;
    font: 20pt bold;
    height: 300px;
    padding: 7%;
}
#registration input {
    margin-right: 5px;
    margin-top: 15px;
    float: right;
    width: 50%;
    border: 1px solid #8e7144;
    opacity: 1;
}
#registration #email {
    margin-left: 50px;
}
#registration #submit {
    float: none;
    height: 30px;
    margin: 20px;
}
.inputbg {
    background-color: #8e7144;
    color: #444444;
}
/* About Page */
#about {
    border: 5px solid #8e7144;
    background-color: #444444;
    opacity: 0.8;
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 5%;
    width: 70%;
    height: 75%;
    border-radius: 30px;
    text-align: center;
    color: #8e7144;
}