:root {
    --primary-color: #444444;
    --secondary-color: #8e7144;
}
/* fonts */
@font-face {
    font-family: awesome;
    src: url("../fonts/fa-regular-400.ttf");
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;

}
#mainbar {
    height: 70px;
    background-color: var(--primary-color);
    border-bottom: 5px solid var(--secondary-color);
    margin: 0;
    padding: 0;
}
#MainImage {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}
.MainTitle {
    color: white;
    font-size: 28pt;
}
#menubar {
    width: 65%;
    font-size: 15pt;
    float: right;
    margin-right: 10px;
}
#loginonmenu {
    position: absolute;
    width: 30%;
}
nav input[type="text"] {
    width: 35%;
}
nav input[type="password"] {
    width: 35%;
}
nav input[type="button"] {
    width: 16%;
}

input{
    background-color: var(--secondary-color);
    height: 10%;
    border: 3px solid var(--secondary-color);
    margin-top: 22px;
    color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    border-radius: 20px;
    
}
#loginonmenu label {
    visibility: hidden;
    position: relative;
    color: var(--secondary-color);
    font-family: awesome;
    bottom: 22px;
}

#menulist {
    float: right;
    list-style: none;
}
#menulist li {
    display: inline-block;
    margin-left: 10px;
}
#menulist li a {
    color: silver;
    text-decoration: none;

}
#menulist li a:hover {
    color: white
}
#content {
    background-image: url(../img/register.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
}
/* Section Title */
section h1 {
    font-size: 48pt;
    margin:1px;
}
/* Registeration Page */
#registration {
    border: 0;
    background: transparent;
}
#registration table {
    background-color: var(--primary-color);
    opacity: 0.8;
    color: var(--secondary-color);
    margin-top: 5%;
    border: 10px solid var(--secondary-color);
    border-radius: 30px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    
}
#registration  th {
    font-size: 47px;
}

#registration td {
    width: 50%;
    padding: 2%;
    
}

#registration form {
    border: 5px double var(--secondary-color);
    border-radius: 20px;
    margin: 0;
    display: block;
    font: 20pt bold;
    height: 300px;
    padding: 7%;
}
#registration input {
    margin-right: 5px;
    margin-top: 15px;
    width: 80%;
    color: black;
    border: 5px solid var(--secondary-color);
    border-radius: 20px;
}
#registration #submit {
    width: 90%;
    height: 20%;
    margin-top: 10%;
    font-size: 1em;
}
::placeholder {
    color: black;
}

.inputbg {
    background-color: var(--secondary-color);
    height: 10%;
    border: 3px solid var(--secondary-color);
    color: var(--primary-color);
}
section {
    border: 10px solid var(--secondary-color);
    background-color: var(--primary-color);
    opacity: 0.8;
   
    border-radius: 30px;
    text-align: center;
    color: var(--secondary-color);
}
/* About Page */

#aboutpage {
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 5%;
    width: 70%;
    height: 75%;
    position: absolute;

}

/* Book Page */

#bookslib {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1.5%;
    width: 90%;
    height: 85%;
}
#programing a {
    margin-bottom: 5px;
    float: left;
}

#category {
    background-color: var(--secondary-color);
    height: 5%;
    margin-top: 2%;
    margin-left: 5%;
    border: 3px solid var(--secondary-color);
    color: var(--primary-color);
    border: 2 px solid var(--primary-color);
    border-radius: 20px;
    float: left;
}

#categorys div {
    visibility: hidden;
    position: absolute;

}

#categorys {
    float: left;
    margin-left: 5%;
    margin-top: 8%
}
a {
    color: silver;
    text-decoration: none;
}
a:visited {
    color: #f79809;
}
a:hover {
    color: white
}


/* Home Page */

#news {
    margin-left: 3%;
    margin-right: 0%;
    margin-top: 1.5%;
    width: 80%;
    height: 85%;
    float: left;
}

#links {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 1.5%;
    width: 13%;
    height: 85%;
    float: right;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#news #newspage {
    overflow: scroll;
    width: 95%;
    height: 88%;

}
#news #newspage ul {
    list-style: none;
}
#news #newspage li {
    float: left;
    margin-bottom: 7%;
    width: 100%;
}
#news #newspage strong {
    font-size: 25px;
    float: left;
}
#news #newspage p {
    float: left;
    margin-top: 30px;
    margin-left: 10px;
    color: silver;
}

#news #newspage mark {
    background-color: transparent;
    color: #f79809;
}

#links ul {
    list-style: none;
    margin-top: 20%;
    
}
#links img {
    width: 20%;
    height: 20%;
    margin-top: 10%;
}
/* Admin Panel */

#adminpanal {
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 5%;
    width: 70%;
    height: 75%;
    visibility: hidden;
    position: absolute;
}
#adminpanal input[type=text] {
    width: 60%;
}
#adminpanal input[type=button] {
    width: 30%;
    margin-top: 10%;
    font-size: 2em;
}

